{% extends "base.html" %}

{% block content %}
<table>
  <tr>
    <th>Title</th>
    <th>Authors</th>
    <th>Formats</th>
  </tr>
  {% for title in title_list %}
  <tr>
    <td>{{ title.title }}</td>
    <td>{{ title.authors.all|join:", " }}</td>
    <td>
      <ul>
	{% for doc in title.documents.all %}
	<li><a href="#">{{ doc.format }}</a></li>
	{% endfor %}
      </ul>
    </td>
  </tr>
  {% endfor %}
</table>

<div id="toolbar">
  <ul>
    <li><a href="{% url 'bookshelf:document-add' %}">Upload new</a></li>
    <li><a href="{% url 'admin:bookshelf_title_changelist' %}">Manage bookshelf</a></li>
  </ul>
</div>
{% endblock %}
